<div class="name-card">
    <div class="name-card__content-left">
      <img href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.tgdd.vn%2FFiles%2F2019%2F07%2F25%2F1181734%2Fdo-sau-truong-anh-la-gi-cach-thiet-lap-de-chup-anh-dep-nhat--1.jpg&imgrefurl=https%3A%2F%2Fwww.dienmayxanh.com%2Fkinh-nghiem-hay%2Fdo-sau-truong-anh-la-gi-cach-thiet-lap-de-chup-anh-1181734&tbnid=BicDEV86LBp3FM&vet=12ahUKEwjSqo7N7fP0AhXu7zgGHTxAAIEQMygaegUIARDgAQ..i&docid=cDwal4phXVC8mM&w=730&h=520&itg=1&q=%E1%BA%A3nh&ved=2ahUKEwjSqo7N7fP0AhXu7zgGHTxAAIEQMygaegUIARDgAQ" alt="Logo" class="name-card__avatar">
    </div>
    <div class="name-card__content-right">
      <h3 class="name-card__heading">{{ cardName }}</h3>
      <p class="name-card__text">{{ email }}</p>
      <p class="name-card__text">{{ phone }}</p>
    </div>
  </div>
